#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"




//
// Dialog resources
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CHANNELS DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  AUTOCHECKBOX  "Enabled", IDC_MIX_1, 12, 16, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_1, 140, 16, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_1, 104, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_1, 224, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_2, 12, 44, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_2, 140, 44, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_2, 104, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_2, 224, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_3, 12, 72, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_3, 140, 72, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_3, 104, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_3, 224, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_4, 12, 100, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_4, 140, 100, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_4, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 96, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_4, 104, 96, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_4, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 96, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_4, 224, 96, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_5, 12, 128, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_5, 140, 128, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_5, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 124, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_5, 104, 124, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_5, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 124, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_5, 224, 124, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_6, 12, 156, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_6, 140, 156, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_6, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 152, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_6, 104, 152, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_6, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 152, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_6, 224, 152, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Square 1", IDC_STATIC, 4, 4, 26, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Triangle", IDC_STATIC, 4, 60, 24, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Square 2", IDC_STATIC, 4, 32, 26, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Noise", IDC_STATIC, 4, 88, 18, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "DMC", IDC_STATIC, 4, 116, 16, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "FDS (Expansion only)", IDC_STATIC, 4, 144, 64, 8, SS_LEFT, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  COMBOBOX  IDC_SAMPLERATE, 56, 16, 54, 117, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_SORT, WS_EX_LEFT
  AUTOCHECKBOX  "Stereo", IDC_STEREO, 120, 18, 36, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Prefer PAL mode", IDC_PREFERPAL, 160, 18, 68, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_MASTERVOL, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 64, 44, 139, 16, WS_EX_LEFT
  CONTROL  "", IDC_SPEEDTHROTTLE, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 64, 63, 139, 17, WS_EX_LEFT
  AUTOCHECKBOX  "Use Default Speed", IDC_DEFAULTSPEED, 232, 56, 74, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Highpass", IDC_HIGHPASSON, 12, 104, 44, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_HIGHPASSBAR, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 56, 100, 128, 16, WS_EX_LEFT
  EDITTEXT  IDC_HIGHPASS, 192, 100, 36, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Lowpass", IDC_LOWPASSON, 12, 124, 43, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_LOWPASSBAR, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 56, 120, 128, 16, WS_EX_LEFT
  EDITTEXT  IDC_LOWPASS, 192, 121, 36, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Prepass", IDC_PREPASSON, 12, 144, 42, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_PREPASSBAR, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 56, 140, 128, 16, WS_EX_LEFT
  EDITTEXT  IDC_PREPASS, 192, 141, 36, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  EDITTEXT  IDC_DEFAULTLENGTH, 56, 176, 61, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Sample Rate:", IDC_STATIC, 12, 18, 44, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Master Volume:", IDC_STATIC, 12, 48, 48, 8, SS_LEFT, WS_EX_LEFT
  GROUPBOX  "Output Options", IDC_STATIC, 4, 4, 312, 28, 0, WS_EX_LEFT
  GROUPBOX  "Misc", IDC_STATIC, 4, 36, 312, 48, 0, WS_EX_LEFT
  LTEXT   "Speed Throttle:", IDC_STATIC, 12, 67, 48, 8, SS_LEFT, WS_EX_LEFT
  GROUPBOX  "Default Times", IDC_STATIC, 4, 164, 312, 31, 0, WS_EX_LEFT
  LTEXT   "Song Length:", IDC_STATIC, 12, 178, 44, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "", IDC_VOLUMEDISPLAY, 208, 48, 22, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "", IDC_SPEEDDISPLAY, 208, 68, 22, 8, SS_LEFT, WS_EX_LEFT
  GROUPBOX  "Filter Options", IDC_STATIC, 4, 88, 312, 72, 0, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG_2 DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  AUTOCHECKBOX  "DMC Pop Reducer", IDC_DMCPOPREDUCER, 12, 16, 74, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Ignore $4011 Writes", IDC_IGNORE4011, 116, 16, 80, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "N106 Pop Reducer", IDC_N106POPREDUCER, 12, 28, 74, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Reset Duty on $4003/7", IDC_RESETDUTY, 116, 28, 88, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "FDS Pop Reducer", IDC_FDSPOPREDUCER, 12, 40, 74, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Ignore BRK", IDC_IGNOREBRK, 12, 68, 80, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Ignore NSF Version Number", IDC_IGNOREVERSION, 116, 68, 102, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Ignore Illegal Opcodes", IDC_IGNOREILLEGAL, 12, 80, 87, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Don't wait for Play Return", IDC_NOWAIT, 12, 92, 98, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Reset 6502 Regs", IDC_CLEANAXY, 12, 104, 69, 8, 0, WS_EX_LEFT
  COMBOBOX  IDC_FORCE4017, 116, 92, 63, 120, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST, WS_EX_LEFT
  AUTOCHECKBOX  "Prevent Inverting under", IDC_INVERTCUTOFF, 12, 136, 84, 8, 0, WS_EX_LEFT
  EDITTEXT  IDC_INVERTCUTOFFHZ, 96, 134, 33, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Force $4017 Write:", IDC_STATIC, 116, 80, 63, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Hz", IDC_STATIC, 132, 136, 9, 8, SS_LEFT, WS_EX_LEFT
  GROUPBOX  "Detection Options", IDC_STATIC, 4, 122, 312, 40, 0, WS_EX_LEFT
  GROUPBOX  "Strictness Settings", IDC_STATIC, 4, 56, 312, 60, 0, WS_EX_LEFT
  GROUPBOX  "Misc", IDC_STATIC, 4, 4, 312, 48, 0, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_FME07 DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  AUTOCHECKBOX  "Enabled", IDC_MIX_1, 12, 16, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_1, 140, 16, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_1, 104, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_1, 224, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_2, 12, 44, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_2, 140, 44, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_2, 104, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_2, 224, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_3, 12, 72, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_3, 140, 72, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_3, 104, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_3, 224, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Pulse A", IDC_STATIC, 4, 4, 24, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Pulse B", IDC_STATIC, 4, 32, 22, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Pulse C", IDC_STATIC, 4, 60, 22, 8, SS_LEFT, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_MAINCONTROL DIALOGEX 0, 0, 336, 288
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  CONTROL  "", IDC_TAB, WC_TABCONTROL, TCS_MULTILINE, 4, 4, 328, 280, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_MMC5 DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  AUTOCHECKBOX  "Enabled", IDC_MIX_1, 12, 16, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_1, 140, 16, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_1, 104, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_1, 224, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_2, 12, 44, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_2, 140, 44, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 40, 48, 15, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_2, 104, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_2, 224, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_3, 12, 72, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_3, 140, 72, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 68, 48, 15, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_3, 104, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_3, 224, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Extra Square 1", IDC_STATIC, 4, 4, 44, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Extra Square 2", IDC_STATIC, 4, 32, 44, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Voice", IDC_STATIC, 4, 60, 18, 8, SS_LEFT, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_N106 DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  AUTOCHECKBOX  "Enabled", IDC_MIX_1, 12, 16, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_1, 140, 16, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_1, 104, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_1, 224, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_2, 12, 44, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_2, 140, 44, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_2, 104, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_2, 224, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_3, 12, 72, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_3, 140, 72, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_3, 104, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_3, 224, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_4, 12, 100, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_4, 140, 100, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_4, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 96, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_4, 104, 96, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_4, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 96, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_4, 224, 96, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_5, 12, 128, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_5, 140, 128, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_5, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 124, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_5, 104, 124, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_5, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 124, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_5, 224, 124, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_6, 12, 156, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_6, 140, 156, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_6, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 152, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_6, 104, 152, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_6, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 152, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_6, 224, 152, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_7, 12, 184, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_7, 140, 184, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_7, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 180, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_7, 104, 184, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_7, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 180, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_7, 224, 184, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_8, 12, 212, 38, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_8, 140, 212, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_8, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 208, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_8, 104, 208, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_8, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 208, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_8, 224, 208, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Channel 8", IDC_STATIC, 4, 200, 300, 28, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 7", IDC_STATIC, 4, 172, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 6", IDC_STATIC, 4, 144, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 5", IDC_STATIC, 4, 116, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 4", IDC_STATIC, 4, 88, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 3", IDC_STATIC, 4, 60, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 2", IDC_STATIC, 4, 32, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 1", IDC_STATIC, 4, 4, 30, 8, SS_LEFT, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_VRC6 DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  AUTOCHECKBOX  "Enabled", IDC_MIX_1, 12, 16, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_1, 140, 16, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_1, 104, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_1, 224, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_2, 12, 44, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_2, 140, 44, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_2, 104, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_2, 224, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_3, 12, 72, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_3, 140, 72, 35, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_3, 104, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_3, 224, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Extra Square 1", IDC_STATIC, 4, 4, 42, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Sawtooth", IDC_STATIC, 4, 60, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Extra Square 2", IDC_STATIC, 4, 32, 42, 8, SS_LEFT, WS_EX_LEFT
}



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_VRC7 DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | WS_CHILDWINDOW | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0
{
  AUTOCHECKBOX  "Enabled", IDC_MIX_1, 12, 16, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_1, 140, 16, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 12, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_1, 104, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_1, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 12, 48, 17, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_1, 224, 12, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_2, 12, 44, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_2, 140, 44, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_2, 104, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_2, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 40, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_2, 224, 40, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_3, 12, 72, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_3, 140, 72, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_3, 104, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_3, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 68, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_3, 224, 68, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_4, 12, 100, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_4, 140, 100, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_4, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 96, 48, 15, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_4, 104, 96, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_4, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 96, 48, 17, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_4, 224, 96, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_5, 12, 128, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_5, 140, 128, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_5, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 124, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_5, 104, 124, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_5, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 124, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_5, 224, 124, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  AUTOCHECKBOX  "Enabled", IDC_MIX_6, 12, 156, 39, 8, 0, WS_EX_LEFT
  AUTOCHECKBOX  "Invert", IDC_INV_6, 140, 156, 32, 8, 0, WS_EX_LEFT
  CONTROL  "", IDC_VOL_6, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 152, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_VOLBOX_6, 104, 152, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  CONTROL  "", IDC_PAN_6, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 172, 152, 48, 16, WS_EX_LEFT
  EDITTEXT  IDC_PANBOX_6, 224, 152, 28, 12, ES_AUTOHSCROLL, WS_EX_LEFT
  LTEXT   "Channel 1", IDC_STATIC, 4, 4, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 3", IDC_STATIC, 4, 60, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 2", IDC_STATIC, 4, 32, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 4", IDC_STATIC, 4, 88, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 5", IDC_STATIC, 4, 116, 30, 8, SS_LEFT, WS_EX_LEFT
  LTEXT   "Channel 6", IDC_STATIC, 4, 144, 30, 8, SS_LEFT, WS_EX_LEFT
}
